.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#header {
  /In This Line- CSS for Box Shadow/
  position:fixed;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  }

  .fade-out {
    opacity: 0;
    transition: opacity 3s ease-in-out
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .location-content img {
    max-width: 100%; /* Makes images responsive */
    height: auto; /* Maintains aspect ratio */
  }

  .location-content {
    width: 100%; /* Set your desired width */
    height: 100%; /* Set your desired height */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Optional: Add a border for visibility */
  }

  